[submodule "tools/fzf"]
	path = tools/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "bundle/vim-markdown-toc"]
	path = bundle/vim-markdown-toc
	url = git@github.com:mzlogin/vim-markdown-toc.git
[submodule "bundle/vim-clap"]
	path = bundle/vim-clap
	url = git@github.com:liuchengxu/vim-clap.git
[submodule "bundle/vim-lsp"]
	path = bundle/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "bundle/vim-logcat"]
	path = bundle/vim-logcat
	url = git@github.com:gburca/vim-logcat.git
[submodule "plugin/taglist.vim"]
	path = plugin/taglist.vim
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "plugin/starsearch.vim"]
	path = plugin/starsearch.vim
	url = git@github.com:darfink/starsearch.vim.git
[submodule "plugin/markdown2ctags"]
	path = plugin/markdown2ctags
	url = git@github.com:jszakmeister/markdown2ctags.git
[submodule "plugin/cscope_macros.vim"]
	path = plugin/cscope_macros.vim
	url = git@github.com:vim-scripts/cscope_macros.vim.git
[submodule "bundle/vim-airline"]
	path = plugin/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = plugin/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
