[submodule "tools/fzf"]
	path = tools/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
