[submodule "tools/fzf"]
	path = tools/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "bundle/vim-markdown-toc"]
	path = bundle/vim-markdown-toc
	url = git@github.com:mzlogin/vim-markdown-toc.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "bundle/vim-logcat"]
	path = bundle/vim-logcat
	url = git@github.com:gburca/vim-logcat.git
[submodule "plugin/taglist.vim"]
	path = plugin/taglist.vim
	url = git@github.com:vim-scripts/taglist.vim.git
